@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(/fonts/Montserrat-Regular.ttf);
}

:root {
  --clr-neutral-100: #fff;
  --clr-neutral-600: #929292;
  --clr-neutral-900: #000;

  --clr-primary-100: #fffae7;
  --clr-primary-200: #eca7ba;
  --clr-primary-300: #4568a8;
  --clr-primary-400: #9fbfbe;
  --clr-primary-500: #1d746b;
  --clr-primary-600: #1f3d3d;

  --ff-primary: 'Montserrat', sans-serif;

  --ff-body: var(--ff-primary);

  --fw-light: 200;
  --fw-medium: 400;
  --fw-bold: 600;

  --fs-200: 14px;
  --fs-300: 16px;
  --fs-400: 20px;
  --fs-500: 30px;
  --fs-600: 55px;
  --fs-700: 65px;
  --fs-800: 80px;
  --fs-900: 110px;

  --size-100: 1rem;
  --size-200: 2rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and text formatting from the h's */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* For elements that don't have a class to a have a default setting */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* For people who disable animation, transitions, etc */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
      scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

/* Utility classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-600 {
  color: var(--clr-neutral-600);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.text-primary-100 {
  color: var(--clr-primary-100);
}
.text-primary-200 {
  color: var(--clr-primary-200);
}
.text-primary-300 {
  color: var(--clr-primary-300);
}
.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-primary-500 {
  color: var(--clr-primary-500);
}
.text-primary-600 {
  color: var(--clr-primary-600);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-600 {
  background-color: var(--clr-neutral-600);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.bg-primary-100 {
  background-color: var(--clr-primary-100);
}
.bg-primary-200 {
  background-color: var(--clr-primary-200);
}
.bg-primary-300 {
  background-color: var(--clr-primary-300);
}
.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-primary-500 {
  background-color: var(--clr-primary-500);
}
.bg-primary-600 {
  background-color: var(--clr-primary-600);
}

.border-primary-100 {
  border: solid 1px var(--clr-primary-100);
}
.border-primary-200 {
  border: solid 1px var(--clr-primary-200);
}
.border-primary-300 {
  border: solid 1px var(--clr-primary-300);
}
.border-primary-400 {
  border: solid 1px var(--clr-primary-400);
}
.border-primary-500 {
  border: solid 1px var(--clr-primary-500);
}
.border-primary-600 {
  border: solid 1px var(--clr-primary-600);
}

.fs-200 { 
  font-size: var(--fs-200);
}
.fs-300 { 
  font-size: var(--fs-300);
}
.fs-400 { 
  font-size: var(--fs-400);
}
.fs-500 { 
  font-size: var(--fs-500);
}
.fs-600 { 
  font-size: var(--fs-600);
}
.fs-700 { 
  font-size: var(--fs-700);
}
.fs-800 { 
  font-size: var(--fs-800);
}
.fs-900 { 
  font-size: var(--fs-900);
}

.fw-light {
  font-weight: var(--fw-light);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}

.container {
  --max-width: 1800px;
  --padding: 3rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}


/* General styling */
body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  background-color: var(--clr-primary-600);
  color: var(--clr-neutral-900);
  margin: 0;
}


/* Navigation */
.primary-header {
  position: sticky;
  top: 0;
  height: 60px;
  margin: 1rem;
  border-radius: 50px;
  background-color: var(--clr-primary-100);
  z-index: 2;
  box-shadow: 1px 0 10px var(--clr-neutral-900);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper a {
  text-decoration: none;
  color: var(--clr-primary-600);
  font-weight: var(--fw-bold);
}

.nav-wrapper :where(.nav-logo, ul) {
  display: flex;
  align-items: center;
  gap: clamp(var(--size-100), 5vw, var(--size-200));
  margin-top: 0.6rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo .ri-menu-line {
  display: none;
}

.nav-logo h2 {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-600);
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 20px;
  margin-right: -1rem;
}

.trial-btn {
  background-color: transparent;
  border: 1px solid var(--clr-primary-600);
}

.access-btn {
  border: none;
  border-radius: 20px;
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-100);
}

@media (max-width: 850px) {
  .nav-wrapper .nav-links {
      display: none;
  }
  .nav-logo {
      margin-top: 0.8rem;
  }
  .nav-logo .ri-menu-line {
      display: block;
      
      cursor: pointer;
  }
  .nav-icons {
      padding-right: 0;
  }
  .nav-icons .num {
      left: 85px;
  }
}

@media (max-width: 480px) {
  .nav-wrapper :where(.nav-logo, ul) {
      margin-top: 1rem;
  }

  .nav-logo h2 {
      font-size: var(--fs-200);
  }

  .nav-btn button {
      font-size: var(--fs-200);
      padding: 0.25rem 0.75rem;
  }
}


/* Menu */
.menu {
  position: fixed;
  top: 80px;
  left: -100%;
  height: 205px;
  width: 200px;
  border-radius: 20px;
  background-color: var(--clr-primary-100);
  box-shadow: 1px 0 5px var(--clr-neutral-900);
  transition: 0.4s ease-in-out;
  z-index: 2;
}

.menu.active {
  left: 1rem;
}

.menu-links ul {
  margin: 2rem 0 0 2.5rem;
}

.menu-links a {
  text-decoration: none;
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  line-height: 3rem;
  color: var(--clr-primary-600);
}

.menu-links a:hover {
  color: var(--clr-primary-500);
}

@media (max-width: 480px) {
  .menu {
      height: 160px;
      width: 170px;
  }

  .menu-links a {
      font-size: var(--fs-300);
      line-height: 2rem;
  }
}


/* Hero */
.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}

.h-left h1 {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  line-height: 5.5rem;
  color: var(--clr-primary-100);
  margin-top: 23rem;
}

.h-left p {
  font-size: var(--fs-400);
  color: var(--clr-primary-100);
  line-height: 1.5rem;
  margin-top: 2rem;
}

.h-left .h-buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;
}

.h-buttons button {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 20px;
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-600);
  font-weight: var(--fw-bold);
}

.h-right {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.h-right h2 {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-600);
  line-height: 2rem;
}

.card-top {
  padding: 3rem;
  background-color: var(--clr-primary-100);
  height: 750px;
  border-radius: 20px;
}

.card-info a {
  text-decoration: none;
}

.card-info {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.card-info .ri-arrow-right-line {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-600);
  font-size: var(--fs-600);
  border-radius: 50px;
  padding: 0.3rem;
  cursor: pointer;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img {
  width: 90%;
  margin-top: 5rem;
}

.card-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 435px;
}

.card-b-1 {
  background-color: var(--clr-primary-200);
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-b-1 a {
  text-decoration: none;
  color: var(--clr-primary-600);
}

.card-b-1 button {
  background-color: var(--clr-primary-100);
  border: none;
  border-radius: 50px;
  padding: 0.75rem;
  font-size: var(--fs-400);
  font-weight: bold;
  cursor: pointer;
}

.card-b-2 {
  background-color: var(--clr-primary-100);
  border-radius: 20px;
  padding: 2rem;
}

.card-b-2 img {
  margin-top: 3rem;
}


@media (max-height: 1050px) {
  .h-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: -7.5rem 0 3rem 0;
  }

  .h-right .card-top {
    height: 100%;
  }

  .h-right .card-img {
    width: 100%;
  }

  .card-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    height: 40%;
  }

  .card-b-1 img {
    display: none;
  }
  .card-b-2 img {
    display: none;
  }
}

@media (max-height: 900px) {
  .h-left {
    margin: -11rem 0 3rem 0;
  }

  .h-left h1 {
    font-size: var(--fs-700);
    line-height: 4.5rem;
  }

  .card-bottom {
    height: 30%;
  }

  .card-bottom h2 {
    font-size: var(--fs-400);
    line-height: 1.5rem;
  }

  .card-bottom button {
    font-size: var(--fs-300);
  }

  .card-b-1 img {
    display: none;
  }
  .card-b-2 img {
    display: none;
  }
}

@media (max-width: 1400px) { 
  .hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .h-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 20rem 0 3rem 0;
  }
  
  .h-left h1 {
    margin-top: 3rem;
  }
  
  .h-right {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 8.5rem;
  }
  
  .card-top {
    height: 100%;
  }
  
  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-info .ri-arrow-right-line {
    font-size: var(--fs-500);
    padding: 0.6rem;
  }
  
  .card-bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    height: 100%;
  }
  
  .card-b-1 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .card-b-1 img {
    display: none;
  }
  .card-b-2 img {
    display: none;
  }
}

@media (max-width: 1200px) { 
  .hero-section {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 3rem;
  }

  .h-left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem 0 1rem 0;
  }
  
  .h-left h1 {
      margin-top: 4rem;
  }

  .h-left p {
      display: none;
  }

  .h-left .h-buttons {
      display: grid;
      gap: 2rem;
      margin-top: 3.5rem;
  }

  .h-buttons button {
      padding: 0.5rem 0.75rem;
      border: none;
      border-radius: 20px;
      background-color: var(--clr-primary-100);
      color: var(--clr-primary-600);
      font-weight: var(--fw-bold);
  }
  
  .h-right {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      gap: 1rem;
      margin-top: 1rem;
  }
  
  .card-top {
      height: 100%;
  }
  
  .card-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .card-info .ri-arrow-right-line {
      font-size: var(--fs-500);
      padding: 0.7rem;
  }

  .card-img img {
      width: 40%;
      margin: 1rem 0 0 3rem;
  }
  
  .card-bottom {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      height: 100%;
  }
}

@media (max-width: 850px) { 
  .h-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .h-left h1 {
      line-height: 6rem;
      margin-top: 3.5rem;
  }

  .h-left .h-buttons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 0.5rem;
      margin-top: 2.5rem;
  }

  .h-right {
      margin-top: -1rem;
  }

  .card-b-1 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem;
  }
  .card-img img {
      display: none;
  }
  .card-b-1 img {
      display: none;
  }
  .card-b-2 img {
      display: none;
  }
}

@media (max-width: 480px) {
  .h-left h1 {
      font-size: var(--fs-600);
      line-height: 4.1rem;
      margin-top: 0;
  }

  .h-right h2 {
      font-size: var(--fs-400);
      line-height: 1.5rem;
  }

  .card-info {
      display: flex;
      justify-content: space-between;
      border-radius: 20px;
  }
  
  .card-info .ri-arrow-right-line {
      font-size: var(--fs-400);
      padding: 0.3rem;
  }

  .card-b-1 button {
      padding: 0.5rem;
      font-size: var(--fs-300);
      margin-top: -1rem;
  }
}


/* About */
#about {
  scroll-margin-top: 350px; 
}

.about-wrapper {
  max-width: 1800px;
  margin-inline: auto;
}

.about-title {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-100);
  line-height: 4.5rem;
  text-align: center;
  margin-top: -10rem;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
}   

.about-card-1 {
  background-color: var(--clr-primary-100);
  border-radius: 20px;
  padding: 2rem;
}

.about-card-1 h3 {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-600);
}

.about-card-1 p {
  color: var(--clr-primary-600);
  font-size: var(--fs-400);
  margin-top: 1rem;
}

.about-card-2 {
  background-color: var(--clr-primary-500);
  border-radius: 20px;
  padding: 2rem;
}

.about-card-2 h3 {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-100);
}

.about-card-2 p {
  color: var(--clr-primary-100);
  font-size: var(--fs-400);
  margin-top: 1rem;
}

@media (max-width: 1400px) {
  #about {
      scroll-margin-top: 10px; 
  }
  
  .about-title {
      margin-top: 11rem;
  }
}

@media (max-width: 1200px) {
  .about-title {
      margin-top: 10rem;
  }
}

@media (max-width: 850px) {
  .about-title {
      margin-top: 10rem;
  }
}

@media (max-width: 480px) {
  .about-title {
      margin-top: 7rem;
  }

  .about-title h1 {
      font-size: var(--fs-500);
      line-height: 2rem;
  }

  .about-cards {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      margin-top: 2rem;
  } 

  .about-card-1 h3 {
      font-size: var(--fs-400);
  }
  
  .about-card-1 p {
      font-size: var(--fs-200);
  }

  .about-card-2 h3 {
      font-size: var(--fs-400);
  }
  
  .about-card-2 p {
      font-size: var(--fs-200);
  }
}


/* Classes */
.classes-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-primary-500);
  border-radius: 20px;
  padding: 5rem;
  margin-top: 10rem;
}

.classes-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.classes-text h2 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: 4rem;
  margin-right: 5rem;
  color: var(--clr-primary-100);
}

.classes-text p {
  font-size: var(--fs-400);
  color: var(--clr-primary-100);
  margin-top: 1rem;
  margin-right: 5rem;
}

.classes-btn button {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-600);
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.classes-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  min-height: 800px;
}

.classes-card {
  background-color: var(--clr-primary-100);
  border-radius: 20px;
  padding: 3rem;
}

.classes-card h3 {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-600);
}

.classes-card p {
  color: var(--clr-primary-600);
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .classes-wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 1rem;
  }
  
  .classes-text p {
      margin-top: 2rem;
  }
  
  .classes-btn button {
      margin: 2rem 0 5rem 0;
  }

  .classes-card {
      padding: 3rem;
  }
}

@media (max-width: 850px) {
  .classes-wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem;
  }
  
  .classes-text p {
      margin-top: 2rem;
      margin-right: 0;
  }
  
  .classes-btn button {
      margin: 2rem 0 5rem 0;
  }

  .classes-card {
      padding: 2rem;
  }
}

@media (max-width: 480px) {
  .classes-wrapper {
      margin-top: 6rem;
      padding: 2rem;
  }

  .classes-text h2 {
      font-size: var(--fs-500);
      line-height: 2.1rem;
      margin-right: 0;
  }
  
  .classes-text p {
      font-size: var(--fs-200);
      margin-top: 2rem;
      margin-right: 3rem;
  }
  
  .classes-btn button {
      font-size: var(--fs-200);
  }

  .classes-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1rem;
      min-height: 600px;
  }

  .classes-card {
      padding: 1.5rem;
  }

  .classes-card h3 {
      font-size: var(--fs-400);
  }
  
  .classes-card p {
      font-size: var(--fs-200);
  }
}




/* Accordion (Q&A) */
.accordion-title h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-100);
  line-height: 4.5rem;
  text-align: center;
  margin-top: 10rem;
}

.accordion {
  display: flex;
  justify-content: center;
}

.accordion a {
  text-decoration: none;
  color: var(--clr-primary-500);
  font-weight: var(--fw-bold);
}

.accordion-list {
  width: 1000px;
  margin-top: 7rem;
}

.accordion-list li {
  list-style: none;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 20px;
  background-color: var(--clr-primary-100);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.accordion-list li label {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-600);
  line-height: 2rem;
  cursor: pointer;
}

label::before {
  content: '+';
  margin-right: 1rem;
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

input[type="radio"] {
  display: none;
}

.accordion-content {
  color: var(--clr-primary-600);
  font-size: var(--fs-300);
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .accordion-content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::before {
  content: '-';
}

@media (max-width: 480px) {
  .accordion-title h1 {
      font-size: var(--fs-500);
      line-height: 2rem;
      margin-top: 6rem;
  }

  .accordion-list {
      margin-top: 2rem;
  }

  .accordion-list li label {
      font-size: var(--fs-400);
      line-height: 1.2rem;
  }

  .accordion-content {
      font-size: var(--fs-200);
      padding: 0 1rem;
  }
}


/* Footer */
.even-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
  margin-top: 5rem;
}

.even-columns a {
  text-decoration: none;
}

.footer-title h2 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-600);
}

.footer-title p {
  font-weight: var(--fw-bold);
  text-align: left;
  color: var(--clr-primary-600);
  margin-top: 1rem;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.footer-contact i {
  font-size: var(--fs-600);
  color: var(--clr-primary-600);
  cursor: pointer;
}

.footer-contact h3 {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-600);
  margin-top: 0.25rem;
}

.f-contact-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
}

.f-contact-number button {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-600);
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 20px;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .even-columns {
      display: grid;
      gap: 5rem;
      justify-content: center;
  }

  .footer-title p {
      text-align: center;
  }

  .footer-contact {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

@media (max-width: 850px) {
  .even-columns {
      display: grid;
      gap: 4rem;
      justify-content: center;
      padding: 6rem 2rem;
  }

  .footer-title h2 {
      font-size: var(--fs-600);
      line-height: 3.5rem;
      text-align: center;
      margin: 0 5rem;
  }

  .footer-title p {
      text-align: center;
  }

  .footer-contact {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

@media (max-width: 480px) {
  .footer-title h2 {
      font-size: var(--fs-500);
      line-height: 1.75rem;
  }

  .footer-title p {
      font-size: var(--fs-200);
      text-align: center;
  }

  .footer-contact i {
      font-size: var(--fs-500);
  }

  .footer-contact h3 {
      font-size: var(--fs-300);
      margin-top: 0rem;
  }
}


/* CLASSES PAGE */
/* Classes */
.classes-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 5rem;
}

.classes-grid a {
  text-decoration: none;
}

.class-access {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 1rem 2rem 5rem 2rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.class-access h3 {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

.class-access i {
  font-size: var(--fs-500);
  transition: 0.3s ease-in-out;
}

.class-1:hover {
  background-color: var(--clr-primary-200);
}
.class-1:hover i {
  color: var(--clr-primary-600);
}

.class-2:hover {
  background-color: var(--clr-primary-100);
}
.class-2:hover i {
  color: var(--clr-primary-600);
}

.class-3:hover {
  background-color: var(--clr-primary-500);
}
.class-3:hover i {
  color: var(--clr-primary-100);
}

@media (max-height: 1050px) {
  .classes-grid {
    margin-top: 2rem;
  }
}

@media (max-height: 900px) {
  .classes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
  }
}

@media (max-width: 90em) {
  .classes-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      margin-top: 5rem;
  }
}

@media (max-width: 60em) {
  .classes-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-top: 5rem;
  }
}

@media (max-width: 40em) {
  .classes-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      margin-top: 5rem;
  }
}

@media (max-width: 480px) {
  .classes-grid {
      margin-top: 3rem;
  }

  .class-access h3 {
      font-size: var(--fs-300);
  }
  
  .class-access i {
      font-size: var(--fs-500);
  }
}


/* Overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}


/* Password */
#enter-password .password {
  background-color: var(--clr-primary-500);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 3rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 20;
} 

.password h3 {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
  color: var(--clr-primary-100);
  text-align: center;
}

.password form {
  display: flex;
  justify-content: center;
}

#enter-password input[type="password"] {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--clr-primary-600);
  border-radius: 20px;
  background-color: var(--clr-primary-100); 
  font-size: var(--fs-300);
  outline: none; 
  transition: all 0.3s ease; 
}

#enter-password input[type="password"]:focus {
  box-shadow: 0 0 8px var(--clr-primary-600); 
  background-color: var(--clr-primary-100); 
}

#enter-password input[type="password"]::placeholder {
  color: var(--clr-neutral-600); 
  font-style: italic; 
}

.password button {
  border: none;
  border-radius: 20px;
  padding: 0.2rem 1rem;
  margin-left: 0.5rem;
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-600);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

@media (max-width: 480px) {
  #enter-password .password {
      width: 300px;
      padding: 1.5rem;
  } 

  .password h3 {
      font-size: var(--fs-300);
  }
}

